In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df=pd.read_csv('umk_jateng.csv')
print(df.head())

      Kabupaten           2019           2020           2021           2022  \
0       Cilacap   Rp1,989,058    Rp2,158,327    Rp2,228,904    Rp2,230,731
1      Banyumas   Rp1,750,000    Rp1,900,000    Rp1,970,000    Rp1,983,261
2   Purbalingga   Rp1,788,500    Rp1,940,800    Rp1,988,000    Rp1,996,814
3  Banjarnegara   Rp1,610,000    Rp1,748,000    Rp1,805,000    Rp1,819,835
4     Purworejo   Rp1,686,000    Rp1,835,000    Rp1,895,000    Rp1,906,781

            2023
0   Rp2,383,090
1   Rp2,118,124
2   Rp2,130,981
3   Rp1,958,170
4   Rp2,035,890

In [10]:
umkpati = df[df['Kabupaten'] == 'Pati']
umkpati

,Kabupaten,2019,2020,2021,2022,2023
17,Pati,"Rp1,742,000","Rp1,891,000","Rp1,953,000","Rp1,968,339","Rp2,107,697"

In [11]:
umkcilacap = df[df['Kabupaten'] == 'Cilacap']
umkcilacap

,Kabupaten,2019,2020,2021,2022,2023
0,Cilacap,"Rp1,989,058","Rp2,158,327","Rp2,228,904","Rp2,230,731","Rp2,383,090"